.bookheader
  .bookheaderleft
    ="Search for " + @department.upcase + " " + @course_num
  .bookheaderright
    ="Returned " + @books.count.to_s + " results"
-if @books.count == 0
  .center{style: "margin-top:60px;"}
    %img{src:"assets/nothing.png"}
      Sorry! Nobody is listing a textbook for that class.
      %br
      %br
      Maybe try a different search?
-@books.each do |b|
  .bookunit
    .bookcontent
      .bookunitleft
        ="Username: "
        =link_to User.find_by_user_id(b.user_id).username.humanize, user_url(b.user_id)
        %br
        ="Date added: " + b.created_at.strftime("%m-%d-%Y")
        %br
        ="Expires at: " + b.expiration.strftime("%m-%d-%Y")
        ="Contact at: " + b.contact
      .bookunitrightholder
        .bookunitcenter
          ="Title: " + b.title
          ="Author: " + b.author
          ="Condition: " + b.condition
          ="ISBN: " + b.isbn
        .bookunitright
          ="Listing price: " + number_with_precision(t.storeprice, precision: 2)
          ="Asking price: " + number_with_precision(t.askingprice, precision: 2)
          ="Looking to trade for: " + b.trade
/ .bookunit
/   .bookcontent
/     .bookunitleft
/       test
/     .bookunitrightholder
/       .bookunitcenter
/         test
/       .bookunitright
/         test
/         .bookbutton
