/ form{action: "books_path", method: "get"} TO GET RID OF UTF 8
.center-in-page
  .center
    .header1
      Textbook Search
    .orange.bold
      Sell for more. Buy for less.
    .form-align  
      =form_tag(books_path, method: "get") do
        .input-group.search.form-align
          =text_field_tag :search, params[:search], placeholder: "Search by ISBN, title, or course", maxlength:30, class: "form-control"
          %span.input-group-addon{style:"padding:0;"}
            %button.glyphicon.glyphicon-search{style:"border:0; width:40px; height:100%;"}