/ form{action: "books_path", method: "get"} TO GET RID OF UTF 8
.center-in-page
  .center
    .header1
      Textbook Search
    .orange.bold
      Sell for more. Buy for less.
    .form-align.col-lg-12
      %form{action: books_path, method: "get"}
        =select_tag 'school_id', options_for_select([['Select a School', ""], ['Virginia Tech', "Virginia Tech"]]), :required => true, class: "input-lg text-center"
        .input-group.search.form-align
          =text_field_tag :search, params[:search], placeholder: "Search by ISBN, title, or course", maxlength:100, class: "form-control input-lg"
          %span.input-group-addon{style:"padding:0;"}
            %button.glyphicon.glyphicon-search{style:"border:0; width:40px; height:100%;"}
         
        
    %br
    -flash.each do |name, msg|
      -if name == :error
        .red
          =msg
      -elsif name == :success
        .green
          =msg