/*
  =require purecss/base
  =require purecss/buttons
  =require purecss/forms
  =require purecss/grids
  =require purecss/menus
  =require purecss/tables
*/

#menu{
  margin-left:-200px;
  width:200px;
  position:fixed;
  top:0;
  left:200px;
  bottom:0;
  background:#BF8D30;
  overflow-y:auto;
}

#menu-inner{
  background:transparent;
  border:0;
}

.main{
  width:100%;
}

.pure-u{
  vertical-align:top;
}