/*
  =require purecss/base
  =require purecss/buttons
  =require purecss/forms
  =require purecss/grids
  =require purecss/menus
  =require purecss/tables
*/

/***********************INDEX*************************/
.bookcontent{
  margin:auto;
  width:95%;
  height:290px;
  padding-top:10px;
}

.bookunit{
  margin-left:auto;
  margin-right:auto;
  width:70%;
  height:300px;
  background-color:#EDEADA;
  margin-top:20px;
  border-radius:10px;
}

.bookbutton{
  margin-top:240px;
  height:30px;
}

.bookunitleft{
  width:25%;
  float:left;
  height:290px;
}

.bookunitrightholder{
  width:75%;
  height:290px;
  margin:auto;
  float:right;
}

.bookunitright{
  width:50%;
  float:right;
  height:260px;
}

.bookunitcenter{
  width:50%;
  height:290px;
  float:left;
  /*background-color:#DBD8BC;*/
}

.bookheader{
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  width:70%;
  height:50px;
  border-bottom:1px solid gray;
}

.bookheaderleft{
  display:inline-block;
  float:left;
  color:gray;
}

.bookheaderright{
  display:inline-block;
  float:right;
  color:gray;
}

/***********************ARVO**************************/
@font-face{
  font-family:'Arvo-Regular';
  src:font-url('Arvo-Regular.ttf');
  src:font-url('Arvo-Regular.ttf?iefix') format('truetype');
  font-weight:normal;
  font-style:normal;
}

html *{
  font-family:'Arvo-Regular';
}

/***********************LIST************************/
.listabsolute{
  padding-left:250px;
  margin:auto;
  position:absolute;
}



/***********************SEARCH**************************/
#searchabsolute{
  padding-left:250px;
  height:100px;
  margin:auto;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.findbutton{
  display:inline-block;
  margin-left:10px;
  vertical-align:top;
  height:76px;
  -moz-transition: opacity .2s linear;
  -webkit-transition: opacity .2s linear;
  -ms-transition: opacity .2s linear;
  -o-transition: opacity .2 linear;
  transition: opacity .2s linear;
}

.findbutton:hover{
  opacity:.8;
}

.searchline{
  vertical-align:middle;
  display:inline-block;
}

.labelcolor{
    color:#595B5D;
}

.searchbox{
  height:70px;
  border-radius:10px;
  text-align:center;
  font-size:3em;
}

.labelright{
  margin-left:76px;
  margin-right:76px;
}

.labelleft{
  margin-right:250px;
  margin-left:91px;
}
/***********************BASIC SHIT**************************/
.center{
  text-align:center;
  margin-top:10px;
}

.h3{
  font-size:4em;
}

.searchtext{
  font-size:1.30em;
}

.gray{
  color:gray;
}

/***********************SIDEBAR**************************/
#menu{
  margin-left:-250px;
  width:250px;
  position:fixed;
  left:250px;
  top:0;
  bottom:0;
  overflow:hidden;
  z-index:1000;
  vertical-align:top;
  background:#3C5B6F;
}

#whiteline{
  border-top:10px solid white;
}

#grayline{
  border-top:5px solid gray;
}

#menu-inner{
  background:transparent;
  border:0;
}

#main-pad{
  padding-left:250px;
  left:0;
}

#main{
  width:100%;
}

#menu-bottom{
  margin-top:200px;
}

#menu-image{
  position:fixed;
}

#menu-logo{
  margin-top:30px;
}
#menu-inner-margin{
  margin-left:10px;
}

#menu-heading1{
  margin-top:40px;
  font-size:270%;
  font-weight:bolder;
  color:#FFFFFF;
}

#menu-heading2{
  margin-top:0px;
  font-size:100%;
  color:#C2C1BA;
}

.button-color{
  color:#3C5B6F;
}